<!DOCTYPE html>
<html lang="en">
  <head>
    <title>What's for lunch in downtown Des Moines</title>
    <meta name="description" content="Fighting the monotony of lunch options in downtown Des Moines, Iowa">
    <link rel="stylesheet" href="./static/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <script src="./static/js/vue.min.js"></script>
    <script src="./static/js/js-yaml.min.js"></script>
  </head>
  <body>
    <h1>Lunch in downtown <span>Des Moines</span></h1>
    <div id="lunch-options" class="container" v-cloak>
      <h2 class="error" v-if="error" v-text="error"></h2>

      <div id="suggestion" v-if="suggestedCuisine">
        <h2>
          Get some <span v-text="suggestedCuisine"></span>!!!
        </h2>
        <ul class="suggested-restaurants">
          <li
            v-for="restaurant in suggestedRestaurants"
            v-on:click="lookupRestaurant(restaurant)">
            {{ restaurant.name }}<br>
            <span v-if="restaurant.skywalk" class="skywalk" title="Skywalk access">S</span>
            <span v-if="restaurant.street" class="street" title="Street access"><i class="fa fa-certificate" aria-hidden="true"></i></span>
            <span v-if="restaurant.deliver" class="deliver" title="Delivers"><i class="fa fa-truck" aria-hidden="true"></i></span>
            <span v-if="restaurant.drinks" class="drinks" title="Dranks!"><i class="fa fa-glass" aria-hidden="true"></i></span>
          </li>
        </ul>
      </div>

      <button
        type="button"
        v-on:click="getRandomSuggestions"
        v-text="buttonText">
      </button>

    </div>
    <footer>
      Made by <a href="http://www.broox.com">broox</a>. Contribute on <a href="https://github.com/broox/whats-for-lunch">GitHub</a>.
    </footer>

    <script src="./static/js/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-871188-4', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
