<!DOCTYPE html>
<html lang="en">
  <head>
    <title>What's for lunch in downtown Des Moines</title>
    <link rel="stylesheet" href="./static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="./static/js/vue.min.js"></script>
    <script src="./static/js/js-yaml.min.js"></script>
  </head>
  <body>

    <h1>Lunch in downtown <span>Des Moines</span></h1>

    <div id="lunch-template" class="container" v-cloak>

      <h2 class="error" v-if="error" v-text="error"></h2>

      <div id="suggestion" v-if="suggestedCuisine">
        <h2>
          Get some <span v-text="suggestedCuisine"></span>!!!
        </h2>

        <ul class="suggested-restaurants">
          <li v-for="restaurant in suggestedRestaurants">
            {{ restaurant.name }}<br>
            <span v-if="restaurant.skywalk" class="skywalk" title="Skywalk access">S</span>
            <span v-if="restaurant.street" class="street" title="Street access">☀️</span>
          </li>
        </ul>
      </div>

      <button
        type="button"
        v-on:click="getRandomSuggestions"
        v-text="buttonText">
      </button>

    </div>

    <script src="./static/js/app.js"></script>
  </body>
</html>
