html, body {
  color: #fff;
  font-family: helvetica, arial;
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  background-image: url(../img/background.png);
  background-position: center;

}

h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1rem;
}

h1 span {
  /* force the entire city name onto a newline when wrapping */
  display: inline-block;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
}

.container {
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.suggested-restaurants {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggested-restaurants li {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 1rem 1rem;
  padding: 0.5rem 1rem;
  transition: background-color .5s ease;
}

.suggested-restaurants li:hover {
  background: rgba(255, 255, 255, 0.4);
}

.skywalk {
  background-color: #B7150C;
  border: 0.15rem solid white;
  border-radius: 1rem;
  display: inline-block;
  font-size: 0.7rem;
  height: 1rem;
  line-height: 1rem;
  margin-top: 0.3rem;
  width: 1rem;
}

.street {
  display: inline-block;
  position: relative;
  top: 0.25rem;
  color: gold;
  font-size: 1.3em;
}

.deliver {
  display: inline-block;
  position: relative;
  top: 0.25rem;
  font-size: 1.3em;
}

button {
  background-color: #3ca3e3;
  border: none;
  border-radius: 10rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 1.2rem 2rem;
  transition: background-color .5s ease;
}

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #0072b9;
  outline: none;
}

footer {
  color: #CCC;
  font-size: 0.7rem;
  margin: 1rem;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}


@media screen and (min-width: 640px) {
  h1 {
    margin: 3rem 0 1rem;
  }

  .container {
    border-radius: 1rem;
    max-width: 80%;
  }
}
